*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.promotion{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.promotion .container{
    display: flex;
}

.promotion__text{
    width: 50%;
}

.promotion__timer .title{
    text-align: center;
}

.promotion__timer .timer{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promotion__timer .timer__block{
    width: 102px;
    height: 120px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px grey;
    font-size: 20px;
    font-weight: 300;
    padding-top: 20px;
    text-align: center;
}

.timer__block span{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 55px;
    font-weight: 700;
}

.timer_section{
    height: 100vh;
    background-color: skyblue;
}

.interact{
    margin-top: 30px;
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}

button{
    width: 100px;
    height: 36px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto';
    cursor: pointer;
}

button:hover{
    box-shadow: 0px 4px 20px grey;
    color: black;
}

input[type="datetime-local"]{
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}











